# Database Connection String
DATABASE_URL="postgresql://postgres:YOUR_ACTUAL_PASSWORD@db.abcdefghijklm.supabase.co:5432/postgres?pgbouncer=true"

# Next.js App URL (Optional, useful for production/auth)
NEXT_PUBLIC_APP_URL="http://localhost:3000"
